body{
    background-image: url('../img/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.well
{
    background:none;
    background-color:rgba(255,255,255,0.5);
}

.zonetravail
{
    margin-top:40px;
    height:525px;
	cursor:crosshair;
}

#tmp_canvas {
    position: absolute;
    top:124px;
    border: 1px solid black;
}

.sidebar
{
    opacity:0.6;
    height:700px;    
}

#forme li
{
	margin-left:-35px;
	list-style-type:none;
}

#couleurs {
	list-style:none; 
	margin:0 0 20px 0; 
	padding:0
}
#couleurs li {
	display:inline-block
}

#couleurs a {
	display:inline-block; 
	width:25px; 
	height:25px; 
	margin-right:10px; 
	text-indent:-4000px; 
	overflow:hidden; 
	border-radius:40%
}

#couleurs a.actif {
	border:2px solid #000; 
	width:26px; 
	height:26px
}

#forme
{
	width:155px;
}

.icon
{
	font-size:35px;
}

.crayon
{
	margin-top:28px;
	margin-left:24px;
}

.ligne
{
	margin-left:41px;
}

.rectangle
{
	margin-left:5px;
	display:inline-block;
	width:30px;
	height:10px;
	background-color:white;
	border: solid 1px #069;
}

.cercle
{
	margin-left:34px;
	display:inline-block;
	width:20px;
	height:20px;
	background:white;
	border:solid 1px #069;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}

.filledrect
{
	margin-left:80px;
	display:inline-block;
	width:30px;
	height:10px;
	background-color:#069;
}

.cancel
{
	margin-left:22px;
	width:27px;
}
